
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

canvas {
    align-self: center;
    width: 100%;
    height: 100%;
    touch-action: none;
}

#drawButton, #extrudeButton, #moveButton, #exitMoveButton, #vertexEditButton, #instructions {
    position: absolute;
    z-index: 1;
}

#drawButton {
    top: 10px;
    left: 10px;
}

#extrudeButton {
    top: 50px;
    left: 10px;
}

#moveButton {
    top: 90px;
    left: 10px;
}

#exitMoveButton {
    top: 90px;
    left: 70px;
}

#vertexEditButton {
    top: 50px; 
    left: 90px;
}

#instructions {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    font-family: Arial, sans-serif;
    height: 50px; /* Height of the instructions header */
    color: white;
    text-align: center;
    padding-top: 30px; /* Adjust top padding for vertical centering */
    box-sizing: border-box;
    font-size: 30px;
}

