
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

canvas {
    width: 100%;
    height: 100%;
    touch-action: none;
}

#drawButton, #extrudeButton, #moveButton, #exitMoveButton, #vertexEditButton, #instructions {
    position: absolute;
    z-index: 1;
}

#drawButton {
    top: 10px;
    left: 10px;
}

#extrudeButton {
    top: 50px;
    left: 10px;
}

#moveButton {
    top: 90px;
    left: 10px;
}

#exitMoveButton {
    top: 90px;
    left: 70px;
}

#vertexEditButton {
    top: 50px; 
    left: 90px;
}

#instructions {
    top: 130px;
    left: 10px;
    color: white;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

  
